<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-custom">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21" class="background"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content padding="false" class="side-menu-left menu-bg">
            <div class="row responsive-sm">
                <div class="col logo"><img src="../img/logo.png" /></div>
            </div>
            <ion-list>
                <ion-item ui-sref="pocketReleases.{{item.href}}" ui-sref-active="active" menu-close="" ng-repeat="item in items" ><i class="icon {{item.icon}}"></i> {{item.title}}</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>